# Data
/PTB-XL

# Environment
.env
/venv
.DS_Store

# Testing Configurations
.vscode
utils/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Results
async-federated/
centralized/
sync-federated/
*.png
*.pth